:root {
	--body-bg--light-color: #B2B2A2;
	--body-bg--dark-color: #6D7973;
	--card-bg-color: #E5DACE;
	--action-item-color: #E7BAA0;
	--text-color: #3F3931;
}

/* :root {
	--body-bg--light-color: white;
	--body-bg--dark-color: lightblue;
	--card-bg-color: pink;
	--action-item-color: yellow;
	--text-color: brown;
} */

html{
	height: 100%;
}

.button{
	height: 48px;
	width: 48px;
}
body {
		font-family: 'Source Sans Pro', Arial, helvetica, sans-serif;
		font-size : 100%;
		background-image: linear-gradient(to bottom right, var(--body-bg--light-color), var(--body-bg--dark-color));
		color: var(--text-color);
		height: 100%;
		background-repeat: no-repeat;
		background-attachment: fixed;
		margin: 0;
	}

/* center in very large screens	 */
.container {
	max-width: 1600px;
	margin: auto;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.stacked-full-width {
	display: flex;
	clear: both;
}

.flex-row{
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	 -webkit-flex-direction: row;
	flex-flow: row wrap;
	-webkit-flex-flow: row wrap;
	padding: 0%;
	width: 100%;
	align-items: center;
	min-height: 3rem;
}

.flex-item{
	align-self: stretch;
	box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 1em;
	border-radius: 7px;
	margin: 7px 7px 7px 7px;
	background-color: var(--card-bg-color);
	display: inline-block; /* needed for IE */
	min-width: 250px;
	align-items: center;
	justify-content: center;

}	

.description{
	max-width: 245px;
	font-size: .8em;
	margin-right: 0px;
}
.description li{
	list-style: none;
	padding: 2px;
	
}
h5{
	display:inline;
}
.tiny-logo{
	clear: left;
	height: 1em;
}	
h1{
	font-size: 200%;
	margin: 0px 0px 0px 0px;
	padding: 3px;
}
h2, h3{
	padding: 5px;
	margin: 0;
}
/* .h2 {
	height: 4rem;
	line-height: 4rem;
} */
h4{
	margin: .7em 0em .7em 0em;
}
.header{
	margin: 0px 0px 0px 0px;
	padding: 0px 0 0 20px;
	background-color: var(--card-bg-color);
	background-size: 100%;
	display: inline-block;
	width: 100%;
	box-sizing: border-box;
}	

.contrast {
	background-color: var(--action-item-color);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 1rem 0;
	display: block;
}

.right {
	float: right;
	/* display: block; */
}

.left{
	float: left;
}
#action-item{
	clear: both;
}

#action-item a {
	display: inline-block;
	margin: .4rem 1.4rem; 
}

#action-item img{
	height: 18px;
	margin-top: .3rem;
}

nav {
	display: flex;
	clear: both;
	float: left;
		
}

.nav_list ul{
	list-style: none;
	margin: 0px 0px 0px 0px;
	padding: 0;
	
}
.nav_list li{
	width: 130px;
	margin: .7em .7em .7em .7em;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border: none;
	background-color: var(--card-bg-color);
	float: left;
	border-radius: 7px;
	
}
.nav_list li a{
	display: block;
	padding: .5em;
	text-decoration: none;
	font-weight: bold;
}
.nav_list a.current{
	background-color: silver;
}

/*Formats navigation items in a horizontal bar*/

#nav_bar ul {
	margin-left: 15px;
	list-style: none;
	padding: .5em 0;
	background-color: #007070;
	min-width: 1200px;
}
#nav_bar li{
	display: inline;
	padding: 0;
	margin: 0;
}
#nav_bar a{
	padding: 1em 2em;
	text-decoration: none;
	color: white;
	font-weight: bold;
	border-right: 2px solid white;
}
#nav_bar a.current {
	color:yellow;
}	
a{
	color: black;
}
.project-image{
width: 80px;
	height: 80px;
	background-color: #607D8B;
	border-radius: 50%;
	border:black solid 1px;
	margin: 10px 10px 10px auto;
	float: left;
}

.mobile-only-icon {
	/* border: 1px solid gold; */
}

@media (max-width: 700px) {
	.nav_list li{
	width: 98%;
	margin: .2em .2em .2em .2em;
	}
    nav {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
   }

  .flex-item {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;

  }
}
@media (max-width: 400px) {
	.gone {
		display: none;
	}
  .flex-item, .nav_list {
	  margin: .2em auto;
    width: 90%
	}
  .nav_list{
		width: 100%;
	}
	.nav_list ul {
		width: 100%;
	}
}
@media(min-width: 401px) {
	.hamburger {
		display: none;
	}
}