.avatar{

	height: 60px;
	width:60px;
	border-radius: 45%;
	padding: 0px;
	margin: 0px;
	border : 0px;
}
.avatar img{
	height: 60px;
	width:60px;
	border-radius: 45%;
	padding: 10px;
	margin: 0px;
	border : 0px;
}

.screenname{
	padding: 1em 0em 0em 4em;
}
.description{
	margin:  5px 5px 5px 5px;
	padding: 1.3em 0em 0em 4em;
}
body{
	background-color: #cbd6de;
}
div{
	
}
.row{
	border: 3px solid #b4b9bd;
}
.results{
	background-color: #cfd9df;
}
